/* Responsive adjustments */
@media (max-width: 768px) {
body {
    font-family:Montserrat;
    margin:0;
    
    
}
.header
{
    width:100vw;
    height:60px;
    box-shadow:0px 5px 20px rgba(0,0,0,0.2);
    background:rgba(0,0,0,0);
    backdrop-filter:blur(20px);
    position:fixed;
    display:flex;
    top:0px;
    z-index:1000;
}
.header-logo
{
    display:flex;
    line-height:55px;
}
.header-logo>div>img
{
    height:55px;
    width:55px;
    background:white;
    border-radius:50%;
    padding:2px;
    margin:1px;
    transform:scale(0.9);
}
.header>.header-buttons
{
    position:absolute;
    transform:translate(-110%);
    left:100%;
    display:flex;
    height:100%;
    align-items:center;
}
.header>.header-buttons>*
{
    margin-left:20px;
}
img
{
    width:100px;
}
.press
{
    margin-top:90px;
    height:calc(100vh - 90px);
    /* border: 2px solid blue; */
}
h1.tit
{
    position:relative;
    margin:0px;
    padding:0px;
    font-size:50px;
    text-align:center;
    font-weight:200;
    color: transparent;
    background:linear-gradient(45deg,rgb(49,230,121),rgb(48,150,255));
    -webkit-background-clip:text;
    -webkit-text-stroke: 0.02em transparent;
}
p
{
    margin:15px;
    line-height:21px;
    font-size:12px;
    text-align:justify;
}
b,h2.t
{
    color: transparent;
    background:linear-gradient(45deg,rgb(49,230,121),rgb(48,150,255));
    -webkit-background-clip:text;
    -webkit-text-stroke: 0.02em transparent;
}
.sidebarcont {
    position: relative;
    display: inline-block;
    /* border: 2px solid red; */
}

#sidebar {
    display: none; /* Sidebar is initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 200px; /* Adjust width as needed */
    overflow-x: hidden;
    border:2px solid red;
    background-color: #f9f9f9; /* Light grey background */
    z-index: 1;
}


.sidebar-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sidebar-content a:hover {background-color: #f1f1f1} /* Light mode hover effect */

.material-symbols-outlined {
    cursor: pointer;
    /* Add more styling here to match your button's look */
}

/* Dark mode styles */
body.dark .sidebar-content {
    background-color: #333; /* Dark background for the dropdown */
    color: #fff; /* Light text color */
}

body.dark .sidebar-content a {
    color: white;
}

body.dark .sidebar-content a:hover {
    background-color: #555; /* Darker background on hover */
}
.moreinfo
{
    border:2px solid #ddd;
    margin:20px;
    padding:15px;
    border-radius:5px;
    text-align:center;
    margin-top:30px;
}
.moreinfotxt{
    text-decoration: none;
    color: black;
}
body.dark .moreinfotxt{
    color: white;
}
.moreinfo:hover
{
    box-shadow:0px 0px 0px 5px rgb(125,125,125,0.2);

}
.content
{
    /* border: 2px solid red; */
    background-image: url('https://www.dropbox.com/scl/fi/9s7tf6jb33ofj6xuawq2l/IMG_2301.JPG?rlkey=1ks60v2a1am7eyfcs08s715tv&raw=1');
    background-attachment: fixed;
    /* background-repeat: repeat-x; */
    padding-top:15px;
    padding-bottom:15px;
}
body.dark .content {
    background-image: url('https://www.dropbox.com/scl/fi/yg9atp6bxylk923m1s4hh/firefit.jpg?rlkey=xuzezh36jfi0qbfmnl2rv9grn&raw=1');
    background-repeat: repeat-x;
    background-attachment: fixed;
    /* background-size: cover; */
    color: #fff; /* Light text color */
}

.socials div
{
    background:rgba(0,0,0,0.05);
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    display:inline-flex;
    align-items:center;
    border-radius:100px;
    max-width:150px;
    height:40px;
    margin:5px;
    border: 2px solid rgb(93, 93, 93);

}
body.dark .socials div {
    border: 2px solid black;
}
.socials>div>span
{
    margin-left:5px;
}
.socials
{
    text-align:center;
}
.w50px
{
    width:30px;
}
.sociallinks{
    color: black;

}
body.dark .sociallinks {
    color: white;
}
.tc
{
    text-align:center;
}
.create
{
    margin-top:50px;
}
.certis
{
    margin:30px;
    padding:20px;
    box-shadow:0px 10px 20px rgba(0,0,0,0.1);
    border-radius:10px;
    border:1px solid white;
}
.certis>img
{
    width:100%;
}
.verification{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    /* border-radius: 100px; */
}
body.dark .verification{
    color: white;
    border: 1px solid white;
}
h2
{
    margin:0;
}
h3
{
    text-align:center;
}
.end
{
    padding:20px;
    background:#222325;
    color:white;
}
.endh2
{
    text-align:center;
    margin-top:20px;
}
.m{
    margin-left:10px;
    margin-top:10px;
    display:inline-block;
    border:1px solid;
    padding:5px;
    border-radius:5000px;
    
}
input
{
    font-family:Montserrat;
    outline:none;
    background:none;
    background:white;
    padding:15px;
    color:black;
    border-radius:10px 0px 0px 10px;
    height:15px;
    border:none;
    margin:0px;
}
form
{
    left:50%;
    transform:translate(-50%);
    position:relative;
    display:inline-block;
}
button
{
    background:white;
    outline:none;
    border:none;
    height:45px;
    width:45px;
    border-radius:0px 10px 10px 0px;
    position:relative;
    top:7.25px;
    left:-1px;
}
.c
{
    text-align:center;
    width:70%;
    
    left:50%;
    transform:translate(-50%);
    position:relative;
    
}

center{
    color:rgba(255,255,255,0.5);
    margin-top:20px;
    font-size:12px;
}
.load-screen
{
    background:white;
    z-index:1000000000;
    position:fixed;
    left:0px;
    top:0px;
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-:center;
    transition:all 1s;
    flex-direction:column;
    color:black;
}
.loader
{
    width:25px;
    height:25px;
    border-radius:50%;
    border:2px solid white;
    border-top:2px solid #444;
    animation:a 0.5s linear infinite;
}
.load-screen>span
{
    margin-top:10px;
}
@keyframes a{
    100%{
        transform:rotate(360deg);
    }
}
.totop
{
    text-align:center;
    margin-top:150px;
    display:block;
    animation:an 1s ease-in-out infinite;
}
@keyframes an
{
    100%
    {
        transform:translate(0px,-40px);
        opacity:0;
    }
}
.dark{
    color:#333;
    background:#111;
    color:white;  
}
.dark2{
    background:#333;
}
#tg
{
    background:rgba(122,122,122,0.1);
    padding:3px;
    border-radius:50%;
}
}